<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:100,300,400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
      <link rel="stylesheet" type="text/css" href="bower_components/weather-icons/css/weather-icons.css"/>
    <link rel="stylesheet" href="assets/app.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
        .text-center {
            text-align: center;
        }
    </style>

  </head>

  <body ng-app="starterApp" layout="row" ng-controller="UserController as ul" ng-cloak >

  <div flex tabIndex="-1" role="main" class="md-whiteframe-z2 gridListdemoDynamicTiles">

      <md-grid-list
              md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
              md-row-height-gt-md="1:1" md-row-height="4:3"
              md-gutter="0px" md-gutter-gt-sm="0px" >
          <md-grid-tile ng-repeat="tile in ul.tiles"
                        md-rowspan="{{tile.span.row}}"
                        md-colspan="{{tile.span.col}}"
                        md-colspan-sm="1"
                        ng-class="tile.background" >

              <date-directive ng-if="tile.type=='date'">

              </date-directive>


              <img ng-if="tile.type == 'image' && $index" ng-src="{{tile.image}}" style="width: 100%" alt="" />
                <div ng-if="tile.weather" >
                    <todays-weather
                            location="London, UK"
                            units="metric">
                    </todays-weather>
                    <h2>London</h2>

                  <todays-weather
                          location="Budapest"
                          units="metric">
                  </todays-weather>
                  <h2>Budapest</h2>
              </div>
              <timer ng-if="tile.type =='timer'" language="hu" start-time="tile.time" flex="100">

                  <div layout="row" class="text-center">
                      <div flex="50">
                          <h1>{{days}}</h1>
                          <h4>nap</h4>
                      </div>
                      <div flex="50">
                          <h1>{{hours}}</h1>
                          <h4>ora</h4>
                      </div>
                  </div>
                  <div layout="row" class="text-center">
                      <div flex="50">
                          <h1>{{minutes}}</h1>
                          <h4>perc</h4>
                      </div>
                      <div flex="50">
                          <h1>{{seconds}}</h1>
                          <h4>masodperc</h4>
                      </div>
                  </div>

              </timer>


          </md-grid-tile>
      </md-grid-list>

  </div>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-timer/dist/angular-timer.min.js"></script>
    <script src="./bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="./bower_components/momentjs/moment.js"></script>
    <script type="text/javascript" src="./bower_components/angular-weather-directive/dist/angular-weather-directive.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>

    <script type="text/javascript">

          angular
              .module('starterApp', ['ngMaterial', 'users'])
              .config(function($mdThemingProvider, $mdIconProvider){

                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                      .icon("share"      , "./assets/svg/share.svg"       , 24)
                      .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                      .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                      .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                      .icon("phone"      , "./assets/svg/phone.svg"       , 512);

                      $mdThemingProvider.theme('default')
                          .primaryPalette('brown')
                          .accentPalette('red');

              });

    </script>
  
  </body>
</html>
