html, body {
  font-family: 'Lato', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h1 {
  margin: auto;
}

/* Sidenav area */

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}
  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */

#content {
  overflow: hidden;
}

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.contact > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */

md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}


.gridListdemoDynamicTiles md-icon {
  width: 50%;
  height: 30%; }
.gridListdemoDynamicTiles md-icon svg {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%; }
.gridListdemoDynamicTiles .s64 {
  font-size: 64px; }
.gridListdemoDynamicTiles .s32 {
  font-size: 48px; }
.gridListdemoDynamicTiles md-icon.fa {
  display: block;
  padding-left: 0; }
.gridListdemoDynamicTiles md-icon.s32 span {
  padding-left: 8px; }
.gridListdemoDynamicTiles md-grid-list {
  /*margin: 8px; */
}
.gridListdemoDynamicTiles .gray {
  background: #f5f5f5; }
.gridListdemoDynamicTiles .green {
  background: #b9f6ca; }
.gridListdemoDynamicTiles .yellow {
  background: #ffff8d; }
.gridListdemoDynamicTiles .blue {
  background: #84ffff; }
.gridListdemoDynamicTiles .darkBlue {
  background: #80d8ff; }
.gridListdemoDynamicTiles .deepBlue {
  background: #448aff; }
.gridListdemoDynamicTiles .purple {
  background: #b388ff; }
.gridListdemoDynamicTiles .lightPurple {
  background: #8c9eff; }
.gridListdemoDynamicTiles .red {
  background: #ff8a80; }
.gridListdemoDynamicTiles .pink {
  background: #ff80ab; }
.gridListdemoDynamicTiles md-grid-tile {
  transition: all 300ms ease-out 50ms; }
.gridListdemoDynamicTiles md-grid-tile md-icon {
  padding-bottom: 32px; }
.gridListdemoDynamicTiles md-grid-tile md-grid-tile-footer {
  background: rgba(0, 0, 0, 0.68);
  height: 36px; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption {
  width: 100%; }
.gridListdemoDynamicTiles md-grid-tile-footer figcaption h3 {
  margin: 0;
  font-weight: 700;
  width: 100%;
  text-align: center; }

md-grid-tile.h1 {
  text-align: center;
  font-size: 3em;
}